@{
    Layout = null;

}
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="">

    <title> Feane </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            background-color: #f4f4f4;
            color: #333;
            line-height: 1.6;
        }

        .header {
            background-color: #fff;
            padding: 15px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
        }

            .header .logo {
                font-size: 28px;
                font-weight: 700;
                color: #e69c00;
                text-transform: uppercase;
            }

            .header nav a {
                color: #333;
                text-decoration: none;
                margin-left: 20px;
                font-size: 16px;
                font-weight: 600;
            }

                .header nav a:hover {
                    color: #e69c00;
                }

            .header .actions .order-btn {
                background: linear-gradient(90deg, #ffbe33, #e69c00);
                border: none;
                border-radius: 30px;
                padding: 8px 15px;
                font-size: 1rem;
                font-weight: 600;
                color: #fff;
                cursor: pointer;
                transition: 0.2s ease;
            }

                .header .actions .order-btn:hover {
                    background: linear-gradient(90deg, #e69c00, #ffbe33);
                    transform: translateY(-3px);
                }

        .sidebar {
            width: 250px;
            background-color: #fff;
            height: 100vh;
            position: fixed;
            padding-top: 80px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

            .sidebar ul {
                list-style: none;
            }

                .sidebar ul li {
                    padding: 15px 20px;
                }

                    .sidebar ul li a {
                        color: #333;
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 600;
                    }

                        .sidebar ul li a:hover {
                            color: #e69c00;
                        }

        .main-content {
            margin-left: 250px;
            padding: 100px 30px 30px;
        }

        .dashboard-section {
            background-color: #fff;
            padding: 2rem;
            border-radius: 15px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
            text-align: left;
        }

            .dashboard-section h2 {
                font-size: 1.75rem;
                font-weight: 700;
                color: #e69c00;
                margin-bottom: 1rem;
                text-transform: uppercase;
            }

        .function-list {
            list-style: none;
        }

            .function-list li {
                padding: 10px 0;
                font-size: 1rem;
            }

                .function-list li a {
                    color: #333;
                    text-decoration: none;
                    font-weight: 600;
                }

                    .function-list li a:hover {
                        color: #e69c00;
                    }
        /* Modal Styles */
        .custom-modal-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            z-index: 1000;
        }

        .custom-modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            border-radius: 15px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            padding: 2rem;
            max-width: 400px;
            width: 90%;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            z-index: 1001;
        }

            .custom-modal h5 {
                font-size: 1.75rem;
                font-weight: 700;
                margin-bottom: 1rem;
                text-transform: uppercase;
            }

            .custom-modal p {
                margin-bottom: 1.5rem;
            }

            .custom-modal .btn-modal {
                background: linear-gradient(90deg, #ffbe33, #e69c00);
                border: none;
                border-radius: 30px;
                padding: .75rem 1.5rem;
                font-size: 1rem;
                font-weight: 600;
                color: #fff;
                margin: 0 .5rem;
                cursor: pointer;
                transition: .2s ease;
            }

                .custom-modal .btn-modal:hover {
                    background: linear-gradient(90deg, #e69c00, #ffbe33);
                    transform: translateY(-3px);
                }
    </style>
</head>
<body>
    <div class="hero_area">
        <div class="bg-box">
            <img src="~/images/hero-bg.jpg" alt="">
        </div>
        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="index.html">
                        <span>
                            Feane
                        </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        @{
                            var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
                        }
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item @(currentAction == "Index" ? "active" : "")">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">
                                    Home
                                    @if (currentAction == "Index")
                                    {
                                        <span class="sr-only">(current)</span>
                                    }
                                </a>
                            </li>
                            <li class="nav-item @(currentAction == "Menu" ? "active" : "")">
                                <a class="nav-link" asp-controller="Home" asp-action="Menu">Menu</a>
                            </li>
                            <li class="nav-item @(currentAction == "About" ? "active" : "")">
                                <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                            </li>
                            <li class="nav-item @(currentAction == "Book" ? "active" : "")">
                                <a class="nav-link" asp-controller="Home" asp-action="Book">Book Table</a>
                            </li>
                        </ul>
                        <div class="user_option">
                            <a href="" class="user_link">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                            <a class="cart_link" href="#">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                <g>
                                <g>
                                <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                    </g>
                  </g>
                                <g>
                                <g>
                                <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                   C457.728,97.71,450.56,86.958,439.296,84.91z" />
                    </g>
                  </g>
                                <g>
                                <g>
                                <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                    </g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                </svg>
                            </a>
                            <form class="form-inline">
                                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </form>
                            <a href="" class="order_online">
                                Order Online
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>

    <div class="sidebar">
        <ul>
            <li><a href="#staff">Quản lý nhân viên</a></li>
            <li><a href="#menu">Quản lý menu</a></li>
            <li><a href="#report">Xem báo cáo doanh thu</a></li>
            <li><a href="#settings">Cấu hình chung</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="dashboard-section" id="staff">
            <h2>Quản lý nhân viên</h2>
            <ul class="function-list">
                <li><a href="#">- Quản lý tài khoản (CRUD, phân quyền)</a></li>
                <li><a href="#">- Xem báo cáo hiệu suất nhân viên</a></li>
            </ul>
        </div>
        <div class="dashboard-section" id="menu">
            <h2>Quản lý menu</h2>
            <ul class="function-list">
                <li><a href="#">- Quản lý danh mục (Categories)</a></li>
                <li><a href="#">- Quản lý món ăn (MenuItems)</a></li>
            </ul>
        </div>
        <div class="dashboard-section" id="report">
            <h2>Xem báo cáo doanh thu</h2>
            <ul class="function-list">
                <li><a href="#">- Xem đơn hàng (Orders)</a></li>
                <li><a href="#">- Xem thanh toán (Payments)</a></li>
                <li><a href="#">- Xem hóa đơn (Invoices)</a></li>
            </ul>
        </div>
        <div class="dashboard-section" id="settings">
            <h2>Cấu hình chung</h2>
            <ul class="function-list">
                <li><a href="#">- Quản lý bàn ăn (RestaurantTables)</a></li>
                <li><a href="#">- Quản lý đặt bàn (Reservations)</a></li>
            </ul>
        </div>
    </div>
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            Contact Us
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Location
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Call +01 1234567890
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    demo@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="" class="footer-logo">
                            Feane
                        </a>
                        <p>
                            Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
                        </p>
                        <div class="footer_social">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>
                        Opening Hours
                    </h4>
                    <p>
                        Everyday
                    </p>
                    <p>
                        10.00 Am -10.00 Pm
                    </p>
                </div>
            </div>
            <footer class="footer_section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 footer-col">
                            <div class="footer_contact">
                                <h4>
                                    Contact Us
                                </h4>
                                <div class="contact_link_box">
                                    <a href="">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Location
                                        </span>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>
                                            Call +01 1234567890
                                        </span>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <span>
                                            demo@gmail.com
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 footer-col">
                            <div class="footer_detail">
                                <a href="" class="footer-logo">
                                    Feane
                                </a>
                                <p>
                                    Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
                                </p>
                                <div class="footer_social">
                                    <a href="">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 footer-col">
                            <h4>
                                Opening Hours
                            </h4>
                            <p>
                                Everyday
                            </p>
                            <p>
                                10.00 Am -10.00 Pm
                            </p>
                        </div>
                    </div>
                    <div class="footer-info">
                        <p>
                            &copy; <span id="displayYear"></span> All Rights Reserved By
                            <a href="https://html.design/">Free Html Templates</a><br><br>
                            &copy; <span id="displayYear"></span> Distributed By
                            <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
                        </p>
                    </div>
                </div>
            </footer>
            <!-- footer section -->
            <!-- jQery -->
            <script src="~/js/jquery-3.4.1.min.js"></script>
            <!-- popper js -->
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
            </script>
            <!-- bootstrap js -->
            <script src="~/js/bootstrap.js"></script>
            <!-- owl slider -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
            </script>
            <!-- isotope js -->
            <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
            <!-- nice select -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
            <!-- custom js -->
            <script src="~/js/custom.js"></script>
            <!-- Google Map -->
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
            </script>
            <!-- End Google Map -->
    <!-- Modal Example -->
    <div class="custom-modal-overlay" id="modalOverlay"></div>
    <div class="custom-modal" id="customModal">
        <h5>Confirmation</h5>
        <p>Are you sure you want to perform this action?</p>
        <button class="btn-modal" onclick="closeModal()">Yes</button>
        <button class="btn-modal" onclick="closeModal()">No</button>
    </div>

    <script>
        function showModal() {
            document.getElementById('modalOverlay').style.display = 'block';
            document.getElementById('customModal').style.display = 'block';
        }
        function closeModal() {
            document.getElementById('modalOverlay').style.display = 'none';
            document.getElementById('customModal').style.display = 'none';
        }

        // Example: Show modal when clicking a link (add this to your links if needed)
        document.querySelectorAll('.function-list a').forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                showModal();
            });
        });
    </script>
</body>
</html>